<form>
  <div>
    <p>
      <label for="credential">Credential:</label><br>
        <span id="issued_credential_name">
            <%=@credential.name%>
        </span>
    </p>
    <p>
      <label for="issue_date">Issue Date:</label><br>
      <input type="text" id="issue_date" class="date-field"/>
    </p>
    <p>
      <label for="expiration_date">Expiration Date:</label><br>
      <input type="text" id="expiration_date" class="date-field"/>
    </p>
  </div>
</form>
