<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.editinplace"-%>

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Departments & Roles
<%end%>

<%content_for :top_buttons do%>
    <div id="org_nav_buttons">
      <a class="btn ui-state-hover ui-corner-all">
        <span class="ui-icon ui-icon-circle-check"></span>
        Departments & Roles
      </a>
      <a class="btn ui-state-default ui-corner-all" id="drop" href="/admin/companies">
        Organizational Model
      </a>
    </div>
<%end%>

<div id="dep_role_detail"  style="min-height:500px;">
</div>


<%content_for :sidebar do%>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Departments & Roles
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%= render :partial=>"tree"%>
      </div>
    </div>

    <button id="create_department">New Department</button>
    <button id="create_role">New Role</button>

<%end%>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {


            $("#role_tree").jstree({
                core : {animation:50},
                plugins : [ "themes", "html_data", "ui", "crrm" ]
            })
                    .bind("select_node.jstree",function(event,data){

                var department_id = data.rslt.obj.attr("data-department-id");
                var role_id = data.rslt.obj.attr("data-organizational-role-id");

                if (data.rslt.obj.attr("rel") == "department"){
                    $(document).trigger("department.selected",[department_id]);
                }
                else if (data.rslt.obj.attr("rel") == "organizational-role"){
                    $(document).trigger("organizational_role.selected",[department_id,role_id]);
                }
            });

            $("#create_department").button().click(function(){
//                $.maestro.dialogs.createRequirementSet({
//                    onSubmit:function(rs){
//                        var tree = $.jstree._reference("#requirement_tree");
//                        var folder = $("#" + rs["department_id"]);
//                        folder = tree._get_node(folder);
//
//                        tree.create_node(folder,"last",{
//                            attr:{
//                                id: rs["id"],
//                                "data-department-id":rs["department_id"],
//                                "data-requirement-set-id":rs["id"],
//                                rel:"requirement-set"
//                            },
//                            data:{
//                                attr:{title:rs["name"]},
//                                title:rs["name"]
//                            }
//                        });
//                        $(document).trigger("requirement_set.selected",["department_id",rs["id"]]);
//                    }
//                });
            });

            $(document).bind("department.selected",function(e,department_id){
                $("#dep_role_detail").load("departments/" + department_id);
                select_node("#role_tree","#" + department_id);
            });

            $(document).bind("organizational_role.selected",function(e,department_id,role_id){
                if (role_id == null || role_id=='') return;
                $("#dep_role_detail").load("departments/" + department_id + "/roles/" + role_id);
                select_node("#role_tree","#" + role_id);
            });

            $(document).bind("organizational_role.deleted",function(e,role_id){
                $.jstree._reference("#role_tree").remove("#" + role_id);
            });

            $(document).bind("organizational_role.renamed",function(e,role_id,new_name){
                var tree = $.jstree._reference("#role_tree");
                if (tree.get_text("#" + role_id) != new_name)
                    tree.set_text("#" + role_id,new_name);
            });

            $(document).trigger("department.selected",['<%=@departments.keys[0].id%>']);


        });

    </script>
<%end%>
