<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.editinplace"-%>

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Departments & Roles
<%end%>

<%content_for :top_buttons do%>
    <div id="org_nav_buttons">
      <a class="btn ui-state-hover ui-corner-all">
        <span class="ui-icon ui-icon-circle-check"></span>
        Departments & Roles
      </a>
      <a class="btn ui-state-default ui-corner-all" id="drop" href="/admin/companies">
        Organizational Model
      </a>
    </div>
<%end%>

<div id="dep_role_detail"  style="min-height:500px;">
</div>


<%content_for :sidebar do%>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Departments & Roles
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%= render :partial=>"tree"%>
      </div>
    </div>

    <input id="new_department_name" type="text">
    <a id="add_department">Add Department</a>

<%end%>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {


            $("#role_tree").jstree({
                core : {animation:50},
                plugins : [ "themes", "html_data", "ui", "crrm" ]
            })
                    .bind("select_node.jstree",function(event,data){

                var department_id = data.rslt.obj.attr("data-department-id");
                var role_id = data.rslt.obj.attr("data-organizational-role-id");

                if (data.rslt.obj.attr("rel") == "department"){
                    $(document).trigger("department.selected",[department_id]);
                }
                else if (data.rslt.obj.attr("rel") == "organizational-role"){
                    $(document).trigger("organizational_role.selected",[department_id,role_id]);
                }
            });

            $("#add_department").button().click(function(){
                var new_department_data = {department:{name:$("#new_department_name").val()}};
                $.ajax({
                    type: 'post',
                    data:new_department_data,
                    dataType: 'json',
                    success: function(json) {
                        $("#new_department_name").val("");
                        $(document).trigger("department.created",[json]);
                    },
                    error: function(response, status, error) {
                    },
                    complete: function() {
                    },
                    url: "/admin/departments"
                });
            });

            $(document).bind("department.selected",function(e,department_id){
                $("#dep_role_detail").load("departments/" + department_id);
                select_node("#role_tree","#" + department_id);
            });

            $(document).bind("organizational_role.selected",function(e,department_id,role_id){
                if (role_id == null || role_id=='') return;
                $("#dep_role_detail").load("departments/" + department_id + "/roles/" + role_id);
                select_node("#role_tree","#" + role_id);
            });

            $(document).bind("department.created",function(e,department){
                var tree = $.jstree._reference("#role_tree");
                var last = $("li.jstree-last[rel=department]");
                last = tree._get_node(last);
                var dep_node = tree.create_node(last,"after",{
                    attr:{
                        id:department["id"],
                        "data-department-id":department["id"],
                        rel:"department"
                    },
                    data:department["name"]
                });
                $(document).trigger("department.selected",[department["id"]]);

            });

            $(document).bind("organizational_role.created",function(e,parent_id,role){
                var tree = $.jstree._reference("#role_tree");
                var folder = $("#" + parent_id);
                folder = tree._get_node(folder);
                var role_node = tree.create_node(folder,"last",{
                    attr:{
                        id:role["id"],
                        "data-department-id":role["department_id"],
                        "data-organizational-role-id":role["id"],
                        rel:"orgnizational-role"
                    },
                    data:role["name"]
                });
                $(document).trigger("organizational_role.selected",[role["department_id"],role["id"]]);
            });

            $(document).bind("organizational_role.deleted",function(e,role_id){
                $.jstree._reference("#role_tree").remove("#" + role_id);
            });

            $(document).bind("department.deleted",function(e,department_id){
                $.jstree._reference("#role_tree").remove("#" + department_id);
                select_first_department();
            });

            $(document).bind("department.renamed",function(e,department_id,new_name){
               rename_node("#role_tree","#" + department_id,new_name);
            });

            $(document).bind("organizational_role.renamed",function(e,role_id,new_name){
                rename_node("#role_tree","#" + role_id,new_name);
            });

            function select_first_department(){
                var first_department = $("#role_tree").find("li[rel=department]").first();
                select_node("#role_tree","#" + first_department.attr("id"));
            }

            select_first_department();


        });

    </script>
<%end%>
