<%stylesheet "jquery.layout.css"%>
<%javascript "jquery.layout.min-1.2.0"%>
<% javascript("jquery.maestro.editinplace")%>

<script type="text/javascript" src="/javascripts/jsTree/jquery.tree.js"></script>
<script type="text/javascript" src="/javascripts/jsTree/plugins/jquery.tree.contextmenu.js"></script>

<style type="text/css">
	html, body {
		width:		100%;
		height:		100%;
		overflow:	hidden;
	} 	
	#container{
		/*width:	900px;	*/
		width:		97%;
		/*max-width:	900px; */
		min-width:	700px;
		_width:		700px; /* min-width for IE6 */
		height:		97%;
		padding:	0;
		margin:		0 auto;
	}
	.pane {
		display:	none; /* will appear when layout inits */
	}

	</style>

  <div class="ui-layout-center">
    <div class="center-north">
      <div id="department_detail"></div>
    </div>
    <div class="center-center">
      <div id="role_detail"></div>
    </div>
  </div>

  <div class="ui-layout-west">
    <div class="west-center"> <%= render :partial=>"admin/shared/department_list", :locals=>{:departments=>@departments} %></div>
    <div class="west-south"><div id="department_roles"></div></div>
  </div>


<script language="javascript">
    var outerLayout, westLayout;

    $(document).ready(function() {

        outerLayout = $('#container').layout({
            minSize:			100	// ALL panes
            ,	west__size:			300
            ,	west__onresize:		'westLayout.resizeAll'
            ,	useStateCookie:		true
        });

        westLayout = $('div.ui-layout-west').layout({
            minSize:				50	// ALL panes
            ,	center__paneSelector:	".west-center"
            ,	south__paneSelector:	".west-south"
            ,	south__size:			250
        });

        centerLayout = $('div.ui-layout-center').layout({
             closable:				false	// pane can open & close
            ,resizable:				false	// when open, pane can be resized
            ,slidable:				false	// when closed, pane can 'slide' open over other panes - closes on mouse-out

            ,center__paneSelector: ".center-center"
            ,north__paneSelector:  ".center-north"
            ,north__size: 85
        });

        $(document).bind("department.selected",function(e,department_id){
            $("#department_roles").load("departments/" + department_id + "/roles");
            $("#department_detail").load("departments/" + department_id)
        });

        $(document).bind("role.selected",function(e,department_id, role_id){
            if (role_id == null || role_id=='') return;
            $("#role_detail").load("departments/" + department_id + "/roles/" + role_id);
        });

    });


</script>