<form>
  <div>
    <p>
      <label for="credential">Credential:</label><br>
      <select id="credential">
        <option value=''>Select a credential</option>
        <%Account.current.credentials.each do |c|%>
            <option value='<%=c.id%>'><%=c.name%> (<%=c.type%>)</option>
        <%end%>
      </select>
    </p>
    <p>
      <label for="issue_date">Issue Date:</label><br>
      <input type="text" id="issue_date" class="date-field"/>
    </p>
    <p>
      <label for="expiration_date">Expiration Date:</label><br>
      <input type="text" id="expiration_date" class="date-field"/>
    </p>
  </div>
</form>
