body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.heading {
    font-size:2em;
}

.editable{
    color: #3366ff;
    cursor:pointer;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

span.ui-icon { float: left;}

a.button {text-decoration:none;padding:2px;}

#details ul li {

    display:block;
    float:left;
    margin-right:5px;
    padding-right:5px;
    border-right:1px solid #CCC;
}

#details li span {
    font-weight:normal;
    font-size:.8em;
    display:block;
    margin-bottom:4px;
}

#details
{
    font-weight:bold;
    color:white;
    padding:10px;
    font-size:1.2em;
    background-color: #4f5978;
    border: 1px solid gray;

}

.requirement-status {
    background-color: #e0dfe0;
    border: 1px solid #cccccc;
    padding:2px;
    text-shadow:0px 0px;
    text-align:center;
    
}

.expired {
    background-color: #a60000;
    border-color: #660033;
    color:white;
}

.current {
    background-color: #ccffcc;
    border-color: #99ff99;
}

.expires_soon {
    background-color: #ffffab;
    border-color: #cccc00;
}

.expiration_imminent {
    background-color: #ff9900;
    border-color: #996600;
    color:white;
    font-weight:bold;
}

.inactive {
    background-color: #EEE;
    border-color: #CCC;
    color:#CCC;
}


.expired-light {
    background-color: #ff9999;
    border-color: #ff0000;
    color:white;
}

.bar-graph {
    border: 1px solid gray;
    background-image:url("/images/bar-graph-bg.png");
}

.bar-graph-bar {
    float:left;
    height:100%; 
    border-right:1px solid #BBB;
}



.mini-score {
}
.mini-score span {
    border:1px solid #AAA;
    padding:3px;
    font-size:1.1em;
    margin:0px;
}

.mini-score .left {
    margin-right:-4px;
    margin-left:4px;
}

.mini-score .right {
    margin-left:-4px;
}