<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.editinplace"-%>

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Organizational Model
<%end%>

<%content_for :top_buttons do%>
    <div id="org_nav_buttons">
      <a class="btn  ui-corner-all ui-state-default" href="/admin/departments">
        Departments & Roles
      </a>
      <a class="btn ui-state-hover ui-corner-all" id="drop">
        <span class="ui-icon ui-icon-circle-check"></span>
        Organizational Model
      </a>
    </div>
<%end%>

<div id="detail"  style="min-height:500px;">
</div>


<%content_for :sidebar do%>
    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Organizational Model
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%=org_tree_html%>
      </div>
    </div>
<%end%>

<script language="javascript">
    $(document).ready(function(){
        $("#org_tree").jstree({
            ui : {initially_select:'<%=@organizational_unit ? @organizational_unit.id.to_s : ""%>'},
            core : {animation:50},
            plugins : [ "themes", "html_data", "ui", "crrm" ]
        })
                .bind("select_node.jstree",function(event,data){
            var $this = data.rslt.obj;
            //            var root = find_root(node,tree);
            //            var type = tree.get_type(node).split(':');
            var controller = $this.attr("data-collection-name");
            var ou_id = $this.attr("id");
            if (!ou_id) return;

            $(document).trigger('organizational_unit.selected',[controller,ou_id]);

        });


        $(document).bind("organizational_unit.created",function(e,parent_id,ou){
            var tree = $.jstree._reference("#org_tree");
            var folder = $("#" + parent_id);
            folder = tree._get_node(folder);
            var ou_node = tree.create_node(folder,"last",{
                attr:{
                    id:ou["_id"],
                    "data-collection-name":ou["collection_name"],
                    rel:"orgnizational-unit"
                },
                data:ou["name"]
            });
            $(document).trigger("organizational_unit.selected",[ou["collection_name"],ou["_id"]]);
        });

        $(document).bind("organizational_unit.selected",function(e,controller,ou_id){
            select_node("#org_tree","#" + ou_id);
            $("#detail").load("/admin/" + controller + "/" + ou_id);
        });

        $(document).bind("organizational_unit.renamed",function(e,unit_id,new_name){
            rename_node("#org_tree","#" + unit_id,new_name);
        });

        $(document).bind("organizational_unit.deleted",function(e,ou_id){
            $.jstree._reference("#org_tree").remove("#" + ou_id);
        });

        function select_first_company(){
            var first_co = $("#org_tree").find("li[rel=organizational\-unit]").first();
            select_node("#org_tree","#" + first_co.attr("id"));
        }

    <%unless @organizational_unit%>
        select_first_company();
    <%end%>

    });

</script>