<ul id="navigation">
        <li>
          <a href="/" class="sf-with-ul">Dashboard</a>
        </li>
        <li>
          <a href="#" class="sf-with-ul">Administration</a>
          <ul>
            <li>
              <a title="Manage departments and organizational roles" href="/admin/departments">Departments & Roles</a>
            </li>
            <li>
              <a title="Manage companies, regions, stations and units" href="/admin/organizational_units">Organizational Model</a>
            </li>
            <li>
              <a href="/staff_requirements">Requirements & Credentials</a>
              <ul>
                <li>
                  <a href="/staff_requirements">Compliance</a>
                  <ul>
                    <li>
                      <a title="Requirement compliance status by organizational unit" href="/staff_requirements?by=organizational_unit">By Organizational Unit</a>
                    </li>
                    <li>
                      <a title="Requirement compliance status by requirement type" href="/staff_requirements?by=requirement">By Requirement</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a title="Manage staff requirements" href="/admin/requirement_sets">Staff Requirements</a>
                </li>
                <li>
                  <a title="Manage your various types of certifications, credentials and training" href="/admin/credentials">Certifications & Credentials</a>
                </li>
              </ul>
            </li>
            <li>
              <a title="Manage employees" href="/admin/employees">Employees</a>
            </li>
          </ul>
        </li>

      </ul>