<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.editinplace"-%>

    <%javascript "jquery.maestro.dialogs.createcredential"%>
    <%javascript "jquery.maestro.credentialtree"%>
    <%javascript "jquery.maestro.dialogs.selectcredential"%>
    <%javascript "jquery.maestro.dialogs.createrequirementset"%>

    <%javascript "jquery.maestro.dialogs.roleselector"%>
    <%javascript "jquery.maestro.dialogs.orgunitselector"%>

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Staff Requirements
<%end%>

<%content_for :top_buttons do%>
    <div id="training_nav_buttons">
      <a class="btn ui-state-hover ui-corner-all">
        <span class="ui-icon ui-icon-circle-check"></span>
        Staff Requirements
      </a>
      <a class="btn ui-state-default ui-corner-all" id="drop" href="/admin/credentials">
        <!--<span class="ui-icon ui-icon-bullet"></span>-->
        Credential Manager
      </a>
    </div>   
<%end%>

<div id="requirement_set_detail"  style="min-height:500px;">
</div>


<%content_for :sidebar do%>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Requirements
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%= render :partial=>"tree"%>
      </div>
    </div>

    <button id="create_requirement_set">New Requirements Set</button>

<%end%>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {


            $("#requirement_tree").jstree({
                core : {animation:50},
                plugins : [ "themes", "html_data", "ui", "crrm" ]
            })
                    .bind("select_node.jstree",function(event,data){

                var department_id = data.rslt.obj.attr("data-department-id");
                var requirement_set_id = data.rslt.obj.attr("data-requirement-set-id");

                if (data.rslt.obj.attr("rel") == "department"){
                    $(document).trigger("department.selected",[department_id]);
                }
                else if (data.rslt.obj.attr("rel") == "requirement-set"){
                    $(document).trigger("requirement_set.selected",[department_id,requirement_set_id]);
                }
            });

            $("#create_requirement_set").button().click(function(){
                $.maestro.dialogs.createRequirementSet({
                    onSubmit:function(rs){
                        var tree = $.jstree._reference("#requirement_tree");
                        var folder = $("#" + rs["department_id"]);
                        folder = tree._get_node(folder);

                        tree.create_node(folder,"last",{
                            attr:{
                                id: rs["id"],
                                "data-department-id":rs["department_id"],
                                "data-requirement-set-id":rs["id"],
                                rel:"requirement-set"
                            },
                            data:{
                                attr:{title:rs["name"]},
                                title:rs["name"]
                            }
                        });
                        $(document).trigger("requirement_set.selected",["department_id",rs["id"]]);
                    }
                });
            });

            $(document).bind("department.selected",function(e,department_id){
                $("#requirement_set_detail").html("");
                $("#requirement_set_detail").load("departments/" + department_id + "/requirement_sets/list");
                select_node("#requirement_tree","#" + department_id);
            });

            $(document).bind("requirement_set.selected",function(e,department_id,rs_id){
                if (rs_id == null || rs_id=='') return;
                $("#requirement_set_detail").load("departments/" + department_id + "/requirement_sets/" + rs_id);
                select_node("#requirement_tree","#" + rs_id);
            });

            $(document).bind("requirement_set.deleted",function(e,requirement_set_id){
                $.jstree._reference("#requirement_tree").remove("#" + requirement_set_id);
            });

            $(document).bind("requirement_set.renamed",function(e,requirement_set_id,new_name){
                var tree = $.jstree._reference("#requirement_tree");
                if (tree.get_text("#" + requirement_set_id) != new_name)
                    tree.set_text("#" + requirement_set_id,new_name);
            });

            $(document).trigger("department.selected",['<%=@requirements.keys[0].id%>']);


        });

    </script>
<%end%>
