<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.maestro.editinplace"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.dialogs.roleselector"%>
    <%javascript "jquery.maestro.dialogs.orgunitselector"%>
    <%javascript "jquery.maestro.dialogs.createcredential"%>
    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
<%end%>

<%content_for :title do%>
    Staff Requirements
<%end%>


<div id="requirement_set_detail"  style="min-height:500px;">
</div>


<%content_for :sidebar do%>

    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Requirements
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%= render :partial=>"tree"%>
      </div>
    </div>

    <button id="create_requirement_set">New Requirements Group</button>

<%end%>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {

            $("#requirement_tree").jstree({
                core : {animation:50},
                plugins : [ "themes", "html_data", "ui", "crrm" ]
            })
                    .bind("select_node.jstree",function(event,data){

                var department_id = data.rslt.obj.attr("data-department-id");
                var requirement_set_id = data.rslt.obj.attr("data-requirement-set-id");

                if (data.rslt.obj.attr("rel") == "department"){
                    $(document).trigger("department.selected",[department_id]);
                }
                else if (data.rslt.obj.attr("rel") == "requirement-set"){
                    $(document).trigger("requirement_set.selected",[department_id,requirement_set_id]);
                }
            });

//            $(document).bind("department.selected",function(e,department_id){
//                $("#requirement_sets").html("");
//                $("#requirement_sets").load("departments/" + department_id + "/requirement_sets/list");
//            });

            $(document).bind("requirement_set.selected",function(e,department_id,rs_id){
                if (rs_id == null || rs_id=='') return;
                $("#requirement_set_detail").load("departments/" + department_id + "/requirement_sets/" + rs_id);
            });            

        });


    </script>
<%end%>