
<div id="roles">
  <%=role_tree_html%>
</div>

<script language="javascript">
    var baseUrl = "departments/<%=@department.id%>/roles";

    function renameRole(node,tree,rollback){
        if (node.id != null && node.id != '')
        {
            node_id = node.id.split("_").pop();
            $.ajax({
                type: 'post',
                data: {_method:"put",role:{id:node_id,name:tree.get_text(node)}},
                dataType: 'script',
                complete: function(request){
                    $("#roles").effect('highlight');
                },
                url: baseUrl + "/" + node_id});
        }

    }

    function deleteRole(node,tree,rollback){
        var node_id = node.id.split("_").pop();
        $.ajax({
            type: 'post',
            data:{_method:"delete",role:{id:node_id}},
            dataType: 'script',
            complete: function(request){
                $("#roles").effect('highlight');
            },
            url: baseUrl + '/' + node_id
        });
    }

    function createRole(node, ref, ref_type, tree, rollback){
        var parent = tree.parent(node);
        var parent_id = ((parent != -1  && parent.length > 0) ? parent[0].id.split("_").pop() : null);

        var new_node_data = {role:{name:'New Role'}};
        if (parent_id) new_node_data["role"]["parent_id"] = parent_id;
        $.ajax({
            type: 'post',
            data:new_node_data,
            dataType: 'json',success: function(json) {
                var id = json["id"]
                $(node).attr("id","role_" + id)
            },
            error: function(response, status, error) {
            },
            complete: function() {
            },
            url: baseUrl
        });
    }

    function moveRole(node,ref,ref_type,tree,rollback)
    {
        var node_id = node.id.split("_").pop();
        var parent = tree.parent(node);
        var parent_id = ((parent != -1 && parent.length > 0) ? parent[0].id.split("_").pop() : null);
        if (parent_id == null) return;
        $.ajax({
            type: 'post',
            data: {_method:"put",role:{id:node_id,parent_id:parent_id}},
            dataType: 'script',
            complete: function(request){
                $("#roles").effect('highlight');
            },
            url: baseUrl + '/' + node_id});

    }

    function triggerRoleSelectedEvent(node,tree)
    {
        var node_id = node.id.split("_").pop();

        $(node).trigger('role.selected',['<%=@department.id%>',node_id]);
    }

    $("#roles").tree({
        plugins : {
            contextmenu : { }
        },
        callback:{
            onrename:renameRole,
            ondelete:deleteRole,
            oncreate:createRole,
            onmove:moveRole,
            onselect: triggerRoleSelectedEvent
        }

    });
</script>
