<style type="text/css">
    #credential-types-list { list-style-type: none; margin: 0; padding: 0;  }
    #credential-types-list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; cursor:pointer }
    #credential-types-list li span.order_department { position: absolute; margin-left: -1.3em; cursor:move; }
    #credential-types-list li span.delete_department { float:right;}

    #credential-types-list .ui-selecting { background: #FECA40; }
    #credential-types-list .ui-selected { background: #F39814; color: white; }

</style>


<ul id="credential-types-list">
  <% Credential.credential_types.each do |c| %>
      <li class="ui-state-default" id="<%= c -%>">
        <span class="credential_name"><%= c.titleize -%></span>
      </li>
  <% end %>
</ul>


<% content_for :javascript do %>
    <script language="javascript">
        function getFirstCredentialTypeName()
        {
            var first = $("#credential-types-list li").first();
            return first ? first.attr("id") : null;
        }
        
        function selectCredentialType(type_name)
        {
            var selected = $("#credential-types-list").children(".ui-selected")
            type_name = type_name || getFirstCredentialTypeName();

            if (type_name == null) return;

            if (selected.length > 0 && selected[0].id == type_name) return;
            
            selected.removeClass("ui-selected");
            d = $("#" + type_name);
            d.addClass("ui-selected");
            d.trigger("credential_type.selected",type_name);
        }

        $(function() {
            $("#credential-types-list li").click(function(){
                selectCredentialType(this.id);
            });

            $(document).bind("credential_type.selected",function(e,type_name){
                selectCredentialType(type_name);
            });

            selectCredentialType();
        });



    </script>
<% end %>