<form id="update_credential" action="credentials" method="post" style="margin:15px">
  <p>
  <label for="credential_name">Name</label><br>
  <input id="credential_name" name="credential[name]" type="text"/>
    </p>
  <p></p>
    <label for="duty_requirement">Duty requirement?</label>
  <input id="duty_requirement" name="credential[duty_requirement]" checked="true" type="checkbox" value="true"/>
  </p>
  <input id="credential_type" name="type" type="hidden" value="<%=credential_type%>"/>
</form>