<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"-%>
    <%javascript "jquery.boxy.js"-%>
    <%javascript "jquery.maestro.editinplace"%>
    <%javascript "jquery.maestro.dialogs.credentialquickcreate"%>
    <%javascript "jqueryContextMenu/jquery.contextMenu"%>

    <link href="/javascripts/jqueryContextMenu/jquery.contextMenu.css" rel="stylesheet" media="all" />

    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
<%end%>

<%content_for :sidebar do%>
    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
      <div class="portlet-header ui-widget-header">
        Credentials
        <span class="ui-icon ui-icon-circle-arrow-s"></span></div>
      <div class="portlet-content">
        <%= render :partial=>"list"%>
      </div>
    </div>
<%end%>

<div id="credential_detail"  style="min-height:500px;">
</div>

<ul id="myMenu" class="contextMenu">
    <li class="edit">
      <a href="#edit">Edit</a>
    </li>
</ul>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {

            $("#credential_tree").jstree({
                "plugins" : [ "themes", "html_data", "ui", "crrm" ]
            })
            .bind("select_node.jstree",function(event,data){
                if (data.rslt.obj.attr("rel") == "credential")
                {
                    department_id = data.rslt.obj.attr("data-department-id")
                    credential_id = data.rslt.obj.attr("id");
                    $("#credential_detail").load("/admin/departments/" + department_id + "/credentials/" + credential_id);
                }
            });

            $("li[rel=credential]").contextMenu({menu:'myMenu'},function(action,el,pos){alert(action);});



            //        $(document).bind("department.selected",function(e,department_id){
            //            $("#credentials").html("");
            //            $("#credential_list").load("departments/" + department_id + "/credentials/list");
            //        });
            //
            //        $(document).bind("credential.selected",function(e,department_id, credential_id){
            //            if (credential_id == null || credential_id=='') return;
            //            $("#credential_detail").load("/admin/departments/" + department_id + "/credentials/" + credential_id);
            //        });

        });


    </script>
<%end%>