<%content_for :head do%>
    <%stylesheet "boxy.css"%>
    <%javascript "jquery.form"%>
    <%javascript "jquery.boxy.js"%>
    <%javascript "jquery.maestro.editinplace"-%>
    <%javascript "admintasia/tablesorter.js"%>
    <script type="text/javascript" src="/javascripts/jsTree/jquery.jstree.js"></script>
    <%javascript "jquery.maestro.jstreehelper"%>
    <%javascript "jquery.maestro.credentialtree"%>
    <%javascript "jquery.maestro.dialogs.createcredential"%>

<%end%>

<%content_for :title do%>
    Credential Manager
<%end%>

<%content_for :sidebar do%>
    <div id="credentials">
      <%= render :partial=>"tree"%>
    </div>
<%end%>

<div id="credential_detail"  style="min-height:500px;">
</div>

<%content_for :javascript do%>
    <script language="javascript">

        $(document).ready(function() {

            $("#credentials").credentialTree();

            $(document).bind("department.selected",function(e,department_id){
                var url = "/admin/departments/" + department_id + "/credentials";
                $("#credential_detail").load(url);

            });

            $(document).bind("credential_type.selected",function(e,department_id,credential_type){
                var url = "/admin/departments/" + department_id + "/credentials?credential_type=" + credential_type;
                $("#credential_detail").load(url);
            });


            $(document).bind("credential.selected",function(e,department_id,credential_id){
                var url = "/admin/departments/" + department_id  + "/credentials/" + credential_id;
                $("#credential_detail").load(url);
            });

            //Select the first department
            $(document).trigger("department.selected",['<%=@credentials.keys[0].id%>']);

        });

    </script>
<%end%>