<%stylesheet "jquery.layout.css"%>
<%stylesheet "boxy.css"%>
<%javascript "jquery.layout.min-1.2.0"%>
<%javascript "jquery.form"-%>
<%javascript "jquery.boxy.js"-%>
<%javascript "jquery.maestro.editinplace"%>
<%javascript "jquery.maestro.dialogs.credentialquickcreate"%>

<style type="text/css">
    html, body {
        width:		100%;
        height:		100%;
        overflow:	hidden;
    }
    #container{
    /*width:	900px;	*/
        width:		97%;
    /*max-width:	900px; */
        min-width:	700px;
        _width:		700px; /* min-width for IE6 */
        height:		97%;
        padding:	0;
        margin:		0 auto;
    }
    .pane {
        display:	none; /* will appear when layout inits */
    }

</style>

<div class="ui-layout-center">

  <div class="center-center">
    <div id="credential_detail"></div>
  </div>
</div>

<div class="ui-layout-west">
  <div class="west-north">
    <%= render :partial=>"credential_type_list"%>
   </div>
  <div class="west-center"><div id="credential_list"></div></div>
</div>


<script language="javascript">
    var outerLayout, westLayout;

    $(document).ready(function() {

        outerLayout = $('#container').layout({
            minSize:			100	// ALL panes
            ,	west__size:			300
            ,	west__onresize:		'westLayout.resizeAll'
            ,	useStateCookie:		true
        });

        westLayout = $('div.ui-layout-west').layout({
            minSize:				50	// ALL panes
            ,	center__paneSelector:	".west-center"
            ,	north__paneSelector:	".west-north"
            ,	north__size:			240
            ,   resizable:              false
            ,   slidable:               false
            ,   closable:               false
        });

        centerLayout = $('div.ui-layout-center').layout({
            closable:				false	// pane can open & close
            ,resizable:				false	// when open, pane can be resized
            ,slidable:				false	// when closed, pane can 'slide' open over other panes - closes on mouse-out

            ,center__paneSelector: ".center-center"
        });

        $(document).bind("credential_type.selected",function(e,type_name){
            $("#credential_list").load("credentials/list?type=" + type_name);
        });

        $(document).bind("credential.selected",function(e,type_name, credential_id){
            if (credential_id == null || credential_id=='') return;
            $("#credential_detail").load("credentials/" + credential_id);
        });
    });


</script>