Positions:
<table>
  <tr align=left>
    <th>Position</th>
    <th>Department</th>
    <th>Employee</th>
  </tr>
  <%= render :partial => "admin/shared/organizational_unit_role",:collection=>roles, :as=>:role %>
</table>