<%=role.department.name%> - <%=role.name%> : <span id="role_assignment"
      class="editable"
      data-select_options="'him:her,ha:ho'"
      data-field_type='"select"'
      data-update_value='"<%=organizational_unit_type%>[position_type]"'>
      Hi there!
</span>