<tr>
  <td><%=role.name%></td>
  <td><%=role.department.name%></td>
  <td><span id="role_assignment_<%=role.id%>"
            class="editable"
            data-select_options="'him:her,ha:ho'"
            data-field_type='"select"'
            data-update_value='"<%=organizational_unit_type%>[position_type]"'>
      Hi there!
    </span>
  </td>
</tr>